<div class="page-header">
    <h1>{{ type | getOperation | uppercase }}</h1>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

        <!-- Quiz Configuration -->
        <div class="panel panel-default" ng-hide="isStarted">
            <div class="panel-heading">
                <h2 class="panel-title">Quiz Setup</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="minRange">Minimum:</label>
                    <input type="number" id="minRange" class="form-control" ng-model="minRange">
                </div>
                <div class="form-group">
                    <label for="maxRange">Maximum:</label>
                    <input type="number" id="maxRange" class="form-control" ng-model="maxRange">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="useDecimals">
                        Use decimals.
                    </label>
                </div>

                <div class="checkbox" ng-show="type == 'subtract'">
                    <label>
                        <input type="checkbox" ng-model="allowNegative">
                        can answer be negative?
                    </label>
                </div>

                <button class="btn btn-primary" ng-click="isStarted = true; makeQuestion()">Start the quiz!</button>
            </div>
        </div>

        <!-- Quiz -->
        <div class="panel {{ panelClass }}" ng-show="isStarted">
            <div class="panel-heading">
                <span ng-hide="total">Begin!</span>
                <span ng-show="total">
                    <span ng-show="isCorrect"><span class="fa fa-check"></span> Correct!</span>
                    <span ng-hide="isCorrect"><span class="fa fa-times"></span> Error!</span>
                </span>
                <a href class="pull-right" ng-click="isStarted = false;"><span class="fa fa-cog"></span></a>
            </div>

            <div class="panel-body">
                <form>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            {{ first }} {{ type | getSign }} {{ second }} =
                        </span>
                        <input type="number" class="form-control" id="response" placeholder="0" ng-model="response">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="checkAnswer(); makeQuestion()">Submit</button>
                        </span>
                    </div>

                    <div class="form-group" ng-show="question.first > 12 || question.second > 12 || useDecimals || type == 'divide'">
                        <label for="workArea">Work Area:</label>
                        <textarea name="workArea" id="workArea" cols="30" rows="10" class="form-control workArea"></textarea>
                    </div>

                </form>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-6 text-center">{{ correct }} / {{ total }}</div>
                    <div class="col-xs-6 text-center" ng-show="total">{{ (correct / total * 100).toFixed(2) || 0}}%</div>
                </div>
            </div>
        </div>
    </div>
</div>
